@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Pickup Service</h1>
    <p class="lead">Welcome Back!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Schedule</h2>
        <p>
            Select what day you would like your trash picked up. You can also choose the frequency of pickup.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Suspend Services</h2>
        <p>You can choose dates to skip if you are on vacation, and you won't be charged for services.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Invoice</h2>
        <p>You can view how much you owe this month for pickups.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

