@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Pickup Service</h1>
    <p class="lead">Welcome</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Today's Schedule</h2>
        <p>
            See which customers are scheduled for a pickup today.
        </p>
        <p>@Html.ActionLink("View Customers", "WorkerSchedule")</p>
    </div>
    <div class="col-md-6">
        <h2>Map</h2>
        <p>View your pickups on a map.</p>
        <p>@Html.ActionLink("View Map", "WorkerMap")</p>
    </div>

</div>

