@model TrashPickup.Models.ApplicationUser

@{
    ViewBag.Title = "CustomerHome";
}

<div class="jumbotron">
    <h1>Trash Pickup Service</h1>
    <p class="lead">Welcome Back!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Schedule</h2>
        <p>
            Select what day you would like your trash picked up. You can also choose the frequency of pickup.
        </p>
        <p>@Html.ActionLink("Schedule now!", "CustomerSchedule")</p>
    </div>
    <div class="col-md-4">
        <h2>Suspend Services</h2>
        <p>You can choose dates to skip if you are on vacation, and you won't be charged for services.</p>
        <p>@Html.ActionLink("Select Dates", "SuspendService")</p>
    </div>
    <div class="col-md-4">
        <h2>Invoice</h2>
        <p>You can view how much you owe this month for pickups.</p>
        <p>@Html.ActionLink("View Invoice", "Invoice")</p>
    </div>
</div>