@model TrashPickup.Models.ApplicationUser

@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule</h2>

@using (Html.BeginForm("Update", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Schedule your trash pickup.</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(m => m.WeekDay, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="radio" name="WeekDay" value="Monday"> Monday<br>
            <input type="radio" name="WeekDay" value="Tuesday"> Tuesday<br>
            <input type="radio" name="WeekDay" value="Wednesday"> Wednesday<br>
            <input type="radio" name="WeekDay" value="Thursday"> Thursday<br>
            <input type="radio" name="WeekDay" value="Friday"> Friday<br>
        </div>
    </div>
    <br>
    <div class="form-group">
        @Html.LabelFor(m => m.Frequency, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="radio" name="Frequency" value="Weekly"> Weekly<br>
            <input type="radio" name="Frequency" value="Bi-Weekly"> Bi-Weekly<br>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Schedule" />
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}